.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}
.sidebar_search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height:39px;
    padding: 10px;
}
.sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    width: 100%;
    border-radius: 10px;
}
.sidebar_searchContainer > input {
    border: none;
    margin-left: 10px;
}
.sidebar_searchContainer > .MuiSvgIcon-root {
    color: gray; 
}
.sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
.sidebar_headerRight {
    display: flex;
    align-content: center;
    justify-content: space-between;
    min-width: 10vw;

}
.sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}
.sidebar_chat {
    flex: 1;
    background-color:white ;
    overflow: scroll;

}